<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="opportunityHistory">
            <h2><span jhiTranslate="wormApp.opportunityHistory.detail.title">Opportunity History</span> {{opportunityHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="wormApp.opportunityHistory.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'wormApp.OpportunityStatus.' + opportunityHistory.status}}">{{opportunityHistory.status}}</span>
                </dd>
                <dt><span jhiTranslate="wormApp.opportunityHistory.opportunity">Opportunity</span></dt>
                <dd>
                    <div *ngIf="opportunityHistory.opportunityId">
                        <a [routerLink]="['/opportunity', opportunityHistory.opportunityId, 'view']">{{opportunityHistory.opportunityTitle}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/opportunity-history', opportunityHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
