<div>
    <h2 id="page-heading">
        <span jhiTranslate="wormApp.opportunityHistory.home.title">Opportunity Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-opportunity-history" [routerLink]="['/opportunity-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="wormApp.opportunityHistory.home.createLabel">
            Create new Opportunity History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="opportunityHistories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="wormApp.opportunityHistory.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="opportunityTitle"><span jhiTranslate="wormApp.opportunityHistory.opportunity">Opportunity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let opportunityHistory of opportunityHistories ;trackBy: trackId">
                <td><a [routerLink]="['/opportunity-history', opportunityHistory.id, 'view' ]">{{opportunityHistory.id}}</a></td>
                <td jhiTranslate="{{'wormApp.OpportunityStatus.' + opportunityHistory.status}}">{{opportunityHistory.status}}</td>
                <td>
                    <div *ngIf="opportunityHistory.opportunityId">
                        <a [routerLink]="['../opportunity', opportunityHistory.opportunityId , 'view' ]" >{{opportunityHistory.opportunityTitle}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/opportunity-history', opportunityHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/opportunity-history', opportunityHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'opportunity-history/'+ opportunityHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="opportunityHistories && opportunityHistories.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
